@charset 'utf-8'


* { margin: 0 auto; overflow: hidden; }

body { font-family: 'Offside', cursive; }


#header img {

	margin-top: 100px;
}

#intro {

	margin-top: 50px;
	color: white;
	background-color: rgba(1, 1, 1, 0.1)

}


