@charset 'utf-8'


* { margin: 0 auto; overflow: hidden; }

body { font-family: 'Offside', sans-serif;}

h4 {

	font-family: 'Offside', sans-serif;
	font-size: 30px;

}

.backstretch {
	background-color: black; 
}

#header img {

	margin-top: 100px;
}

#intro {

	margin-top: 40px;
	color: white;
	background-color: rgba(1, 1, 1, 0.5);
	padding-top: 10px;
	border-radius: 2px; 

}


#about {

	padding-top: 20px;

}

#about img {

	border: 1px solid black;
	margin-top: 35px;

}

#about #text {

	padding-top: 30px;

}

#leaders img {

	border-radius: 2px;
}

#leaders .name {

	position: relative;
	top: -25px;
	color: white;
	background-color: rgba(1, 1, 1, 0.2);
	padding: 2px 4px 2px;

}


/* Because foundation is terribad sometimes */
.large-block-grid-4 li img { width: 232px !important; }
.large-block-grid-3 li img { width: 316px !important; }


/* Animations */

.fade {

        opacity: 0.8;
        transition: opacity .4s ease-in-out;
        -moz-transition: opacity .4s ease-in-out;
        -webkit-transition: opacity .4s ease-in-out;

} .fade:hover { opacity: 1.0; }




